# raw data
*.tsv
g_*.tsv

# databases
*.db

# cleaned datasets (REMOVE THESE FROM FUTURE TRACKING)
output/cleaned/

# but KEEP reports + graphs
output/reports/
output/graphs/

# python cache
__pycache__/
*.pyc
.vscode/